# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="DATABASE_URL"


TELEGRAM_BOT_TOKEN="TELEGRAM_BOT_TOKEN"


ADMIN_TELEGRAM_ID="211870571"
IS_DEV=true
SEND_ONLY_TO_ADMIN=true